
<section class="content">
	<div align="center">
		<span style="font-size: 30px; color: blue"><b> 欢迎来到SHOW个人平台</b></span>
	</div>
	<h2 class="page-header">使用指南</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-default">
				<div class="box-header with-border">
					<i class="fa fa-warning"></i>
					<h3 class="box-title">关于项目</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-ban"></i> 项目进度
						</h4>
						项目主页： <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
					</div>
					<div class="alert alert-info alert-dismissible">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-info"></i> 项目文档
						</h4>
						文档地址 <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
					</div>
					<div class="alert alert-warning alert-dismissible">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-warning"></i> 项目附件
						</h4>
						附件地址 <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
					</div>
					<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-check"></i> 正式服务器
						</h4>
						服务器地址： <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<div class="box box-default">
				<div class="box-header with-border">
					<i class="fa fa-bullhorn"></i>
					<h3 class="box-title">其他</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="callout callout-danger">
						<h4>Druid监控帐号密码</h4>
						<p>lyd 123</p>
					</div>
					<div class="callout callout-info">
						<h4>服务器监控帐号密码</h4>
						<p>lyd 123</p>
					</div>
					<div class="callout callout-warning">
						<h4>标题1</h4>
						<p>标题1内容</p>
					</div>
					<div class="callout callout-success">
						<h4>图标</h4>
						<p>
							<a target="_blank" href="http://fontawesome.io/icons/">图标库参考</a>
						</p>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- END ALERTS AND CALLOUTS -->
	<!-- START CUSTOM TABS -->
	<h2 class="page-header">其他信息</h2>
	<div class="row">
		<div class="col-md-6">
			<!-- Custom Tabs -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_1" data-toggle="tab">赞助我</a>
					</li>
					<li><a href="#tab_2" data-toggle="tab">联系我</a></li>
					<li><a href="#tab_3" data-toggle="tab">BUG提交</a></li>
					<li><a href="#tab_4" data-toggle="tab">测试公众号</a></li>
					<li><a href="#tab_5" data-toggle="tab">测试订阅号</a></li>
					<!--  
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Another action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Something else here</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Separated link</a>
							</li>
						</ul>
					</li>-->
					<li class="pull-right"><a href="#" class="text-muted"> <i
							class="fa fa-gear"></i>
					</a></li>
				</ul>
				<div class="tab-content">
				
					<div class="tab-pane active" id="tab_1">
						<img src="/pageindex/images/donation.png" width="200" />
					</div>
					
					<div class="tab-pane" id="tab_2">
						<!-- <b>欢迎加入:</b>
						<p>
							<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=64dfe4d0de68ed3d00aaa7c7210cbfa90d98b38b817d209490c1307e063040c2">
								<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybgSpring天下第一" title="88ybgSpring天下第一">
							</a>
							或者
							<img alt="" src="/img/welcome/QQqun.png" />
						</p> -->
						<p>
							开发者：lyd <br> 中国 ● 北京
						</p>

						<ul class="panel_body">
							<a target="_blank"
								href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes"><img
								src="http://img.blog.csdn.net/20170911164214323?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvSVRfbHlk/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center"
								alt="QQ与我联系" title="QQ与我联系" border="0"> </a>
							<br>
							<br>
							<a target="_blank" href="http://weibo.com/u/3871752426"><img
								src="http://img.blog.csdn.net/20170911164315009?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvSVRfbHlk/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center"
								alt="关注我的微博" title="关注我的微博" border="0"> </a>
							<br>
							<br>
							<a target="_blank" href="mailto:512013674@qq.com"> <img
								src="http://img.blog.csdn.net/20170911164336867?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvSVRfbHlk/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center"
								alt="发送邮件" title="发送邮件" border="0">
							</a>
						</ul>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_3">
						<b>BUG提交途径:</b> <br> <br>
						<ul class="panel_body">
							<a target="_blank"
								href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes"><img
								src="http://img.blog.csdn.net/20170911164214323?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvSVRfbHlk/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center"
								alt="QQ与我联系" title="QQ与我联系" border="0"> </a>
							<br>
							<br>
							<a target="_blank" href="mailto:512013674@qq.com"> <img
								src="http://img.blog.csdn.net/20170911164336867?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvSVRfbHlk/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center"
								alt="发送邮件" title="发送邮件" border="0">
							</a>
						</ul>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_4">
						<img alt="" width="200" src="/img/welcome/gzh1.jpg" />
					</div>
					<div class="tab-pane" id="tab_5">
						<img alt="" width="200" src="/img/welcome/dyh1.jpg" />
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- nav-tabs-custom -->
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<!-- Custom Tabs (Pulled to the right) -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs pull-right">
					<li><a href="#tab_3-3" data-toggle="tab">友情链接</a></li>
					<li><a href="#tab_4-4" data-toggle="tab">系统功能</a></li>
					<li><a href="#tab_2-2" data-toggle="tab">技术选型</a></li>
					<li class="active"><a href="#tab_1-1" data-toggle="tab">介绍</a></li>

					<!-- <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Another action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Something else here</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Separated link</a>
							</li>
						</ul>
					</li> -->
					<li class="pull-left header"><i class="fa fa-th"></i> 项目介绍</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1-1">
						<b>简介:</b> 以SpringBoot 为中心，模块化开发系统，用户可以随意删减除权限框架外
						任意的系统模块。复用，组装性强。2种打包方式，传统可运行的tomcat目录 以及直接jar
						方式运行。主要应用技术：SpringSecurity+Ehcache+quartz+swagger2+Mysql5.6....
						主要包含系统全方位监控，权限管理。定时任务，API在线接口，OSS云存储，第三方登录，在线支付,代码生成，工作流等内容。文档较全，适合单机型框架开发
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_2-2">
						<ul>
							<li>系统界面
								<ol>
									<li>adminLTE</li>
									<li>bootstrap</li>
								</ol>
							</li>
							<li>前端技术
								<ol>
									<li>jquery</li>
									<li>vue.js</li>
									<li>layer.js</li>
								</ol>
							</li>
							<li>后台技术
								<ol>
									<li>jdk8</li>
									<li>springboot1.5.x</li>
									<li>spring</li>
									<li>springJDBC</li>
									<li>spring Security</li>
									<li>quartz</li>
									<li>activiti</li>
									<li>ehcache</li>
									<li>freemarker</li>
									<li>maven</li>
								</ol>
							</li>
							<li>数据库技术
								<ol>
									<li>mysql</li>
									<li>vue.js</li>
									<li>layer.js</li>
								</ol>
							</li>
						</ul>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_3-3">暂无</div>
					<div class="tab-pane" id="tab_4-4">
						<ul>
							<li>用户管理
								<ul>
									<li>用户管理</li>
									<li>角色管理</li>
								</ul>
							</li>
							<li>开发工具
								<ul>
									<li>API文档</li>
								</ul>
							</li>
							<li>监控管理
								<ul>
									<li></li>
								</ul>
							</li>
							<li>系统管理管理
								<ul>
									<li>修改密码</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- nav-tabs-custom -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- END CUSTOM TABS -->
	<!-- END PROGRESS BARS -->
	<!-- START ACCORDION & CAROUSEL-->

	<!--
		<div class="row">
		<div class="col-md-4">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">多数据源</h3>
				</div>
	<div class="box-body">
		<ul>
			<li>quanmin_sys 系统数据库</li>
			<li>quanmin_quartz 定时任务数据库</li>
			<li>quanming_edu 教育子系统</li>
			<li>quanming_oa 办公子系统数据库</li>
			<li>数据库要求
				<ul>
					<li>mysql 5.6+</li>
					<li>编码utf-8</li>
				</ul>
			</li>
			<li>可自定义其他数据源</li>
			<li>可以添加 oracle ,sqlserver 等</li>
			<li>切换方便</li>
		</ul>
	</div>
	</div>
	</div>
	<div class="col-md-4">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="fa fa-text-width"></i>
				<h3 class="box-title">系统功能</h3>
			</div>
			<div class="box-body">
				<ul>
					<li>用户管理</li>
					<li>角色管理</li>
					<li>授权资源管理</li>
					<li>OSS管理</li>
					<li>开发工具
						<ol>
							<li>代码生成</li>
							<li>Swagger 在线文档API</li>
							<li>二维码</li>
						</ol>
					</li>
					<li>系统监控
						<ol>
							<li>javamelody 服务器监控</li>
							<li>druid 数据源监控</li>
							<li>springbootadmin 应用监控</li>
						</ol>
					</li>
					<li>工作流</li>
					<li>微信管理</li>
					<li>第三方登陆</li>
					<li>定时任务管理</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="fa fa-text-width"></i>
				<h3 class="box-title">技术选型</h3>
			</div>
			<div class="box-body">
				<ul class="list-unstyled">
					<li>Springboot 1.5.X</li>
					<li>mysql</li>
					<li>jdk8</li>
					<li>maven</li>
					<li>adminlte 界面</li>
					<li>vue.js</li>
					<li>jquery</li>
					<li>freemarker</li>
					<li>ehcache</li>
					<li>spring</li>
					<li>springjdbc</li>
					<li>spring security</li>
					<li>layer.js</li>
					<li>bootstrap</li>
					<li>quartz</li>
					<li>activiti</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	-->

	<h2 class="page-header">LOOK HERE</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">相关资源</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="box-group" id="accordion">
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseOne"> Centos7相关 </a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in"
								align="right">
								<div class="box-body">
									<a href="http://www.cnblogs.com/hz-cww/p/6084496.html">centos
										7 配置JDK8</a><br> <a
										href="http://www.cnblogs.com/softwaretesting/archive/2011/07/12/2104435.html">centos
										7 vi操作</a><br> <a href="javascript:void(0)">开启防火墙、端口</a><br>
								</div>
							</div>
						</div>
						<div class="panel box box-danger">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseTwo"> Collapsible Group Danger </a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="box-body">Anim pariatur cliche reprehenderit,
									enim eiusmod high life accusamus terry richardson ad squid.</div>
							</div>
						</div>
						<div class="panel box box-success">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseThree"> Collapsible Group Success </a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="box-body">Anim pariatur cliche reprehenderit,
									enim eiusmod high life accusamus terry richardson ad squid.</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Carousel</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div id="carousel-example-generic" class="carousel slide"
						data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0"
								class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"
								class=""></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"
								class=""></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img
									src="http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap"
									alt="First slide">
								<div class="carousel-caption">First Slide</div>
							</div>
							<div class="item">
								<img
									src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap"
									alt="Second slide">
								<div class="carousel-caption">Second Slide</div>
							</div>
							<div class="item">
								<img
									src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap"
									alt="Third slide">
								<div class="carousel-caption">Third Slide</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic"
							data-slide="prev"> <span class="fa fa-angle-left"></span>
						</a> <a class="right carousel-control"
							href="#carousel-example-generic" data-slide="next"> <span
							class="fa fa-angle-right"></span>
						</a>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- END ACCORDION & CAROUSEL-->
</section>
