<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<!-- 百度站点验证 -->
<meta name="baidu-site-verification" content="Lf23nsR1SH" />

<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d87fcac20ef0bd943e73cada07c803fc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!--- basic page needs
   ================================================== -->
<meta charset="utf-8">
<title>Spring Show</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
   ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
   ================================================== -->
<link rel="stylesheet" href="pageindex/css/base.css">
<link rel="stylesheet" href="pageindex/css/vendor.css">
<link rel="stylesheet" href="pageindex/css/main.css">


<!-- script
   ================================================== -->
<script src="pageindex/js/modernizr.js"></script>
<script src="pageindex/js/pace.min.js"></script>

<!-- favicons
	================================================== -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<!-- 调用天气 -->
<!-- <script type="text/javascript">
    document.writeln("<iframe name=\"weather_inc\" src=\"http:\/\/i.tianqi.com\/index.php?c=code&id=1\" width=\"420\" height=\"60\" frameborder=\"0\" marginwidth=\"0\" marginheight=\"0\" scrolling=\"no\"><\/iframe>");
</script> -->
</head>

<body id="top">

<!-- Baidu Share BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&img=6&pos=right&uid=6478904" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Share END -->

	<!-- header 
   ================================================== -->
	<header class="short-header">

		<div class="gradient-block" align="center">
			<!-- 调用天气 -->
			<iframe src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&num=1" width="420" height="60" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		</div>
		<!-- <div class="row header-content"> -->
 		<div class="row header-content"> 
		 	<img src="./pageindex/images/logo.gif" class="logoimg">
			 <nav id="main-nav-wrap" style="position: relative;">
			 				<ul class="main-navigation sf-menu">
			 					<li class="current"><a href="" title="">首页</a></li>
			 					<li class="has-children">技术文档
			 						<ul class="sub-menu">
			 							<li><a target="_blank"
			 								href="http://blog.csdn.net/IT_lyd/article/category/6692929">SpringBoot</a></li>
			 							<li><a target="_blank" href="http://blog.csdn.net/IT_lyd">博客文章</a></li>
			 						</li>
			 					</ul>
			 					</li>
			 				<li class="has-children">项目产品
			 					<ul class="sub-menu">
			 						<li><a target="_blank"
			 							href="http://www.spring-show.com/common/login_do/tologin.do?id=1">SHOW平台</a></li>
			 						<!-- <li><a target="_blank" href="/pageindex/project-introduction.html">项目说明</a></li> -->
			 						<!-- <li><a onclick="test()">项目说明</a></li> -->
			 					</ul>
			 				</li>
			 				<li class="has-children">联系我
			 					<ul class="sub-menu">
			 						<li><a target="_blank"
			 							href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes">在线QQ</a>
			 						</li>
			 						<li><a target="_blank" href="mailto:512013674@qq.com">Email</a></li>
			 					</ul>
			 				</li>
			 				<li><a target="_blank" href="mailto:512013674@qq.com">意见反馈</a></li>
			 				</ul>
			 			</nav> 
			<!-- end main-nav-wrap -->

			<!-- <div class="search-wrap">

				<form role="search" method="get" class="search-form" action="#">
					<label> <span class="hide-content">Search for:</span> <input
						type="search" class="search-field"
						placeholder="Type Your Keywords" value="" name="s"
						title="Search for:" autocomplete="off">
					</label> <input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> -->
			<!-- end search wrap -->

			<!-- <div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> -->
			<!-- end triggers -->

		</div>

	</header>
	<!-- end header -->


	<!-- masonry
   ================================================== -->
	<section id="bricks">

		<div class="row masonry">

			<!-- brick-wrapper -->
			<div class="bricks-wrapper">

				<div class="grid-sizer"></div>

				<div class="brick entry featured-grid animate-this">
					<div class="entry-content">
						<div id="featured-post-slider" class="flexslider">
							<ul class="slides">

								<li>
									<div class="featured-post-slide">

										<div class="post-background"
											style="background-image: url('pageindex/images/thumbs/featured/tencent.jpg');"></div>

										<div class="overlay"></div>

										<div class="post-content">
											<ul class="entry-meta">
												<li>Nov, 1998</li>
												<li>马化腾</li>
											</ul>

											<h1 class="slide-title">
												<a href="javascript:void(0);" title="">深圳市腾讯计算机系统有限公司</a>
											</h1>
										</div>

									</div>
								</li>
								<!-- /slide -->

								<li>
									<div class="featured-post-slide">

										<div class="post-background"
											style="background-image: url('pageindex/images/thumbs/featured/alibaba.jpg');"></div>

										<div class="overlay"></div>

										<div class="post-content">
											<ul class="entry-meta">
												<li>Sept,1999</li>
												<li>马云</li>
											</ul>

											<h1 class="slide-title">
												<a href="javascript:void(0);" title="">阿里巴巴网络技术有限公司 </a>
											</h1>
										</div>

									</div>
								</li>
								<!-- /slide -->

								<li>
									<div class="featured-post-slide">

										<div class="post-background"
											style="background-image: url('pageindex/images/thumbs/featured/baidu.png');"></div>

										<div class="overlay"></div>

										<div class="post-content">
											<ul class="entry-meta">
												<li>Jan, 2000</li>
												<li>李彦宏</li>
											</ul>

											<h1 class="slide-title">
												<a href="javascript:void(0);" title="">北京百度网讯科技有限公司</a>
											</h1>
										</div>

									</div>
								</li>
								<!-- end slide -->

							</ul>
							<!-- end slides -->
						</div>
						<!-- end featured-post-slider -->
					</div>
					<!-- end entry content -->
				</div>

				<article class="brick entry format-standard animate-this">

					<div class="entry-thumb">
						<a href="javascript:void(0);" class="thumb-link"> <img
							src="pageindex/images/thumbs/spring01.jpg"
							alt="building">
						</a>
					</div>

					<div class="entry-text">
						<div class="entry-header">

							<!-- <div class="entry-meta">
								<span class="cat-links">本网站简介</span>
							</div> -->

							<h1 class="entry-title" align="center">
								<a href="javascript:void(0);">Spring Show</a>
							</h1>

						</div>
						<div class="entry-excerpt">Spring Show是个人学习网站。里面不仅包括技术文档，还有一些项目分享。本网站资源不断更新，欢迎提出好的建议或者意见。个人博客:<a href="http://blog.csdn.net/it_lyd" target="_parent">JAVA_挖掘师</a>。</div>
					</div>

				</article>
				<!-- end article -->

				<!-- format audio here -->
				<article class="brick entry format-audio animate-this">
					<div class="entry-thumb">
						<a href="single-audio.html" class="thumb-link"> <img
							src="pageindex/images/thumbs/concert.jpg" alt="concert">
						</a>

						<div class="audio-wrap">
							<audio id="player"
								src="/pageindex/media/AirReview-Landmarks-02-ChasingCorporate.mp3"
								width="100%" height="42" controls="controls"></audio>
						</div>
					</div>
					<div class="entry-text">
							音乐欣赏
					</div>
				</article>
				<!-- /article -->

				
				<!-- <article class="brick entry format-link animate-this">

					<div class="entry-thumb">
						<div class="link-wrap">
							<p>Spring Show为个人网站，欢迎提出更好的建议和意见。</p>
							<cite> <a target="_blank"
								href="http://www.spring-show.com">http://www.spring-show.com</a>
							</cite>
						</div>
					</div>

				</article> -->
				<!-- end article -->
				
				<article class="brick entry format-gallery group animate-this">
					<div class="entry-thumb">
						<div class="post-slider flexslider">
							<ul class="slides">
								<li><img src="pageindex/images/thumbs/gallery/work1.jpg">
								</li>
								<li><img src="pageindex/images/thumbs/gallery/work2.jpg">
								</li>
								<li><img src="pageindex/images/thumbs/gallery/work3.jpg">
								</li>
							</ul>
						</div>

					</div>
				</article>
				<!-- end article -->

				<article class="brick entry format-video animate-this">

					<div class="entry-thumb video-image">
						<a
							href="http://mp4.vjshi.com/2017-09-26/06fb1e51bea25d149a69d6575547bea0.mp4"
							data-lity> <img
							src="pageindex/images/thumbs/ottawa-bokeh.jpg" alt="bokeh">
						</a>
					</div>
					<div class="entry-text">
							视频欣赏
					</div>
				</article>
				<!-- end article -->

				<!-- <article class="brick entry format-quote animate-this">

					<div class="entry-thumb">
						<blockquote>
							<p>Good design is making something intelligible and
								memorable. Great design is making something memorable and
								meaningful.</p>

							<cite>Dieter Rams</cite>
						</blockquote>
					</div>

				</article> -->
				<!-- end article -->

			</div>
			<!-- end brick-wrapper -->

		</div>
		<!-- end row -->


	</section>
	<!-- end bricks -->


	<!-- footer
   ================================================== -->
	<footer>

		<div class="footer-main">

			<div class="row">

				<div class="col-four tab-full mob-full footer-info">
					<h4 align="center">About Our Site</h4>
					1.申明：本站为个人网站，旨在学习技术和实践，以及进行技术的分享。欢迎大家对本站提出意见和建议.<br>
					   2.关于广告：广告投放请联系:<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes">lyd</a>
					
				</div>
				<!-- end About Our Site -->
				
				<div class="col-three tab-1-3 mob-1-2 social-links" align="center">
					<h4>About Me</h4>
					<ul>
						<li><a href="http://blog.csdn.net/IT_lyd" target="_blank">我的博客</a></li>
						<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes">在线QQ</a></li>
						<li><a target="_blank" href="mailto:512013674@qq.com">我的Email</a></li>
					</ul>
				</div>
				<!-- end About Me -->
				
				<div class="col-two tab-1-3 mob-1-2 site-links" align="center">
					<h4>Site Links</h4>
					<ul>
						<li><a href="http://www.csdn.net/">CSDN</a></li>
						<li><a href="http://www.open-open.com/">深度开源</a></li>
						<li><a href="http://www.runoob.com/">菜鸟教程</a></li>
						<li><a href="http://tools.jb51.net/">工具之家</a></li>
					</ul>
				</div>
				<!-- end site-links -->
				
				<div class="col-three tab-1-3 mob-1-2 site-links" align="center">
					<h4>Site Donation</h4>
					所有捐赠将用于网站建设<br>
					<img alt="" src="/pageindex/images/donation.png" height="150px" width="150px">
				</div>
				<!-- end Site Donation -->
				
			</div>
			<!-- end row -->

		</div>
		<!-- end footer-main -->

		<div class="footer-bottom">
			<div class="row">

				<div class="col-twelve">
					<div class="copyright">
						<p>
							Powered & Designed by <a href="/">lyd</a> <br> Copyright©
							2017-2019 Spring Show <br> <a target="_blank"
								href="http://www.miibeian.gov.cn/">京ICP备17058812号</a>
						</p>
					</div>

					<div id="go-top">
						<a class="smoothscroll" title="Back to Top" href="#top"><i
							class="icon icon-arrow-up"></i></a>
					</div>
				</div>

			</div>
		</div>
		<!-- end footer-bottom -->

	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="pageindex/js/jquery-2.1.3.min.js"></script>
	<script src="pageindex/js/plugins.js"></script>
	<script src="pageindex/js/jquery.appear.js"></script>
	<script src="pageindex/js/main.js"></script>
	
  <script language="javascript" type="text/javascript">
	  function test(){
	      window.open="http://127.0.0.1:9080/pageindex/a.html";
	  }
  </script>
  <!-- 腾讯统计 -->
  <script>
  	var _mtac = {};
  	(function() {
  		var mta = document.createElement("script");
  		mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.4";
  		mta.setAttribute("name", "MTAH5");
  		mta.setAttribute("sid", "500553197");

  		var s = document.getElementsByTagName("script")[0];
  		s.parentNode.insertBefore(mta, s);
  	})();
</script>
</body>

</html>