<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

<!--- basic page needs
   ================================================== -->
<meta charset="utf-8">
<title>Spring Show</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
   ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
   ================================================== -->
<link rel="stylesheet" href="pageindex/css/base.css">
<link rel="stylesheet" href="pageindex/css/vendor.css">
<link rel="stylesheet" href="pageindex/css/main.css">


<!-- script
   ================================================== -->
<script src="pageindex/js/modernizr.js"></script>
<script src="pageindex/js/pace.min.js"></script>

<!-- favicons
	================================================== -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
	<header class="short-header">

		<div class="gradient-block"></div>

		<div class="row header-content">

			<!-- <div class="logo">
				<a href="index.html">Author</a>
			</div> -->
			<img alt="" src="/pageindex/images/logo.gif">
			<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li class="current"><a href="" title="">首页</a></li>
					<li class="has-children">技术文档
						<ul class="sub-menu">
							<li><a target="_blank"
								href="http://blog.csdn.net/IT_lyd/article/category/6692929">SpringBoot</a></li>
							<li><a target="_blank" href="http://blog.csdn.net/IT_lyd">博客文章</a></li>
					</li>
				</ul>
				</li>
				<li class="has-children">项目 <!-- <a href="single-standard.html" title="">项目产品</a> -->
					<ul class="sub-menu">
						<li><a target="_blank"
							href="http://116.196.73.58:80/common/login_do/tologin.do?id=1">SHOW平台</a></li>
						<li><a target="_blank" href="project-introduction.html">项目说明</a></li>
					</ul>
				</li>
				<li class="has-children">联系我
					<ul class="sub-menu">
						<li><a target="_blank"
							href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes">在线QQ</a>
						</li>
						<li><a target="_blank" href="mailto:512013674@qq.com">Email</a></li>
					</ul>
				</li>
				<li><a target="_blank" href="mailto:512013674@qq.com">意见反馈</a></li>
				</ul>
			</nav>
			<!-- end main-nav-wrap -->

			<!-- <div class="search-wrap">

				<form role="search" method="get" class="search-form" action="#">
					<label> <span class="hide-content">Search for:</span> <input
						type="search" class="search-field"
						placeholder="Type Your Keywords" value="" name="s"
						title="Search for:" autocomplete="off">
					</label> <input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> -->
			<!-- end search wrap -->

			<!-- <div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a>
			</div> -->
			<!-- end triggers -->

		</div>

	</header>
	<!-- end header -->


	<!-- masonry
   ================================================== -->
	<section id="bricks">

		<div class="row masonry">

			<!-- brick-wrapper -->
			<div class="bricks-wrapper">
				<div class="grid-sizer"></div>
			</div>
			<!-- end brick-wrapper -->

		</div>
		<!-- end row -->


	</section>
	<!-- end bricks -->


	<!-- footer
   ================================================== -->
	<footer>

		<div class="footer-main">

			<div class="row">

				<div class="col-four tab-full mob-full footer-info">
					<h4 align="center">About Our Site</h4>
					1.申明：本站为个人网站，旨在学习技术和实践，以及进行技术的分享。欢迎大家对本站提出意见和建议.<br>
					   2.关于广告：广告投放请联系:<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes">lyd</a>
					
				</div>
				<!-- end About Our Site -->
				
				<div class="col-three tab-1-3 mob-1-2 social-links" align="center">
					<h4>About Me</h4>
					<ul>
						<li><a href="http://blog.csdn.net/IT_lyd" target="_blank">我的博客</a></li>
						<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=512013674&amp;site=qq&amp;menu=yes">在线QQ</a></li>
						<li><a target="_blank" href="mailto:512013674@qq.com">我的Email</a></li>
					</ul>
				</div>
				<!-- end About Me -->
				
				<div class="col-two tab-1-3 mob-1-2 site-links" align="center">
					<h4>Site Links</h4>
					<ul>
						<li><a href="http://www.csdn.net/">CSDN</a></li>
						<li><a href="http://www.open-open.com/">深度开源</a></li>
						<li><a href="http://www.runoob.com/">菜鸟教程</a></li>
					</ul>
				</div>
				<!-- end site-links -->
				
				<div class="col-three tab-1-3 mob-1-2 site-links" align="center">
					<h4>Site Donation</h4>
					所有捐赠将用于网站建设
					<img alt="" src="/pageindex/images/wx.png" height="150px" width="150px">
				</div>
				<!-- end Site Donation -->
				
			</div>
			<!-- end row -->

		</div>
		<!-- end footer-main -->

		<div class="footer-bottom">
			<div class="row">

				<div class="col-twelve">
					<div class="copyright">
						<p>
							Powered & Designed by <a href="/">lyd</a> <br> Copyright©
							2017-2019 Spring Show <br> <a target="_blank"
								href="http://www.miibeian.gov.cn/">京ICP备88888888号</a>
						</p>
					</div>

					<div id="go-top">
						<a class="smoothscroll" title="Back to Top" href="#top"><i
							class="icon icon-arrow-up"></i></a>
					</div>
				</div>

			</div>
		</div>
		<!-- end footer-bottom -->

	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="pageindex/js/jquery-2.1.3.min.js"></script>
	<script src="pageindex/js/plugins.js"></script>
	<script src="pageindex/js/jquery.appear.js"></script>
	<script src="pageindex/js/main.js"></script>

</body>

</html>